.c-toolbar {
  background: rgba(180, 180, 180, 0.3);
  padding: 6px;
  border-radius: 4px;
  user-select: none;
  line-height: 24px;
  gap: 4px;
}
.c-toolbar .mdi {
  font-size: 24px;
}
.c-toolbar-item {
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.c-toolbar-item:hover {
  background: rgba(180, 180, 180, 0.3);
}
.mdi.disabled,
.c-toolbar-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.c-toolbar-item.disabled:hover {
  background: transparent;
}
.c-toolbar-item-zoom {
  cursor: pointer;
  width: 50px;
}

.c-toolbar-dropdown {
  position: absolute;
  top: 100%;
  background: rgba(180, 180, 180, 0.3);
  padding: 6px;
  border-radius: 4px;
  line-height: 28px;
  transition: left .2s;
}
.c-toolbar-dropdown-item {
  padding: 0 4px;
  border-radius: 4px;
  white-space: nowrap;
}
.c-toolbar-dropdown-item:hover {
  background: rgba(180, 180, 180, 0.3);
}
.c-toolbar-logs {
  position: absolute;
  top: 80px;
  pointer-events: none;
}